body{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(90.3deg, #0C71CA 0.71%, #64BCE2 99.64%);
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.navigaton{
    display: none;
  }

  .nav1{
    display: none;
  }

  .nav2{
    display: none;
  }

  .nav3{
    display: none;
  }

  hr{
    display: none;
  }



.header{
    background: #FFFFFF;
border-radius: 0px 0px 40px 40px;
width: 1000px;
margin-left: auto;
margin-right: auto; 
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.head{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.vkl{
    background: transparent;
    font-size: 25px;
    color: #000000;
    border: none;
}

.vkl:hover{
    margin-bottom: 10px;
}

.vkl:active{
    color: rgb(100, 100, 100)
}

.s1499{
    position: absolute;
width: 151px;
height: 70px;
left: 150px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 61px;
line-height: 74px;

background: linear-gradient(180deg, #FFFFFF 31.61%, #1B2ED7 53.12%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c1499{
    position: absolute;
width: 151px;
height: 70px;
left: 1618px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 61px;
line-height: 74px;

background: linear-gradient(180deg, #FFFFFF 19.4%, #1B2ED7 53.12%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#menu{
    display: none;
}


#menu-toggle{
    display: none;
}

.people_info{
    margin-top: 100px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 1100px;
}

.student{
    width: 342px;
    height: 430px;
}

.student_info{
    width: 700px;
    margin-left: 100px;
}

.info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.info1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.info2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.info3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.info4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.students{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 2500px;
}

.studentt{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

.name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 7px;
}