#menu{
    display: none;
}


#menu-toggle{
    display: none;
}

body{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(90.3deg, #0C71CA 0.71%, #64BCE2 99.64%);

}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.navigaton{
    display: none;
  }

  .nav1{
    display: none;
  }

  .nav2{
    display: none;
  }

  .nav3{
    display: none;
  }

  hr{
    display: none;
  }

.header{
    background: #FFFFFF;
border-radius: 0px 0px 40px 40px;
width: 1000px;
margin-left: auto;
margin-right: auto; 
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.head{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.s1499{
    position: absolute;
width: 151px;
height: 70px;
left: 150px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 61px;
line-height: 74px;

background: linear-gradient(180deg, #FFFFFF 31.61%, #1B2ED7 53.12%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c1499{
    position: absolute;
width: 151px;
height: 70px;
left: 1618px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 61px;
line-height: 74px;

background: linear-gradient(180deg, #FFFFFF 19.4%, #1B2ED7 53.12%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vkl{
    background: transparent;
    font-size: 25px;
    color: #000000;
    border: none;
}

.vkl:hover{
    margin-bottom: 10px;
}

.vkl:active{
    color: rgb(100, 100, 100)
}


.info{
    font-size: 50px;
    margin-left: 450px;
    margin-top: 50px;
    background: linear-gradient(91.17deg, #ff0000 -0.64%, #1500ff 28.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cont__wrapper{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 400px 300px;
    margin-top: 100px;
    column-gap: 50px;
    margin-left: 150px;
}

.cont__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.c-link{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 2.2rem;
    border-bottom: none;
    color: #000000;
    text-decoration: none;
}